table {
  font-size: 18px;
  text-align: center;
  border-collapse: collapse;
  height: 200px;
  width: 80%;
  color: white;
  margin-left: 10px;
  margin-bottom: 100px;
  background: linear-gradient(to right, rgb(226, 167, 167), rgb(238, 10, 10));
}
th,
td {
  border: 1px solid rgb(58, 32, 207);
  padding: 4px 4px 4px 4px;
}
caption {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
  color: black;
}
.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-row-gap: 10px;
}
.grid {
  background-color: rgb(19, 197, 19);
  color: white;
  padding: 20px 20px 20px 20px;
  border: 2px solid rgb(196, 24, 24);
}
