body {
  background-color: rgba(118, 252, 252, 0.5);
  margin: 0;
  padding: 0;
}
p,
li {
  font-family: Lato, sans-serif;
}
#main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 50px;
}
.content {
  animation-name: fade-in;
  animation-duration: 2s;
}
.sidebar {
  background-color: rgb(245, 208, 164);
  animation-name: fade-in;
  animation-duration: 2s;
}
img {
  height: 200px;
  width: 400px;
  transition: 0.5s all;
}
#image-1 {
  float: right;
  margin: 15px;
  height: 300px;
}
.post > a {
  text-decoration: none;
  color: rgb(70, 137, 245);
  transition: 0.5s all;
}
.post > a:hover {
  color: rgb(178, 200, 235);
}
.post {
  padding-left: 13px;
  border: 2px solid rgba(255, 255, 0, 0.747);
  margin: 10px;
}
h1,
h2 {
  font-family: Roboto Condensed, sans-serif;
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-grid > img {
  margin: 10px;
}
.post-title,
.post-text,
.post > a {
  margin-left: 5px;
  margin-right: 5px;
}
img:hover {
  height: 250px;
  width: 500px;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
