.amazon {
  color: rgb(0, 113, 113);
  transition: color 0.15s;
}
.amazon:hover {
  color: red;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.price {
  font-weight: bold;
  color: rgb(0, 136, 0);
}
.add-to-cart {
  background-color: rgb(249, 217, 76);
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 15px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color, opacity 0.15s;
}
.add-to-cart:hover {
  background-color: rgb(180, 148, 4);
}
.add-to-cart:active {
  opacity: 0.6;
}
.buy-now {
  background-color: rgb(255, 164, 28);
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color, opacity 0.15s;
}
.buy-now:hover {
  background-color: rgb(184, 113, 7);
}
.buy-now:active {
  opacity: 0.5;
}
